DEBUG=True
SECRET_KEY='django-insecure--ghidoc)k2peybo1@n@4_qftkpwmf3%mo)u14t8&=s!4)fvc6h'
DATABASE_NAME=kendravDB
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/1

GOOGLE_CLIENT_ID=242579568068-ftjold0hjon6j0onbgg5c3r2vumers3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= GOCSPX-c-BYzLxokkYij8lLbItR1nLQU5W